[core]
	editor = \"C:\\Users\\maria\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = MariahAnk
	email = mariah.kiefer@gmail.com
	password = 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
